.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 68px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  @media screen and (min-width: 470px) {
    flex-direction: row-reverse;
  }
}

.game-info {
  margin-top: 1rem;
  @media screen and (min-width: 470px) {
    margin-top: 0;
    margin-right: 20px;
    flex-direction: row;
  }
}

.status-contenedor {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 5px;
  background-color: white;
}
.contenedor-board {
  margin-top: 5px;
  min-width: 205px;
}
.button-toggle {
  display: block;
  margin-inline: auto;
  margin-block: 1rem;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border-color: white;
  border-style: solid;
  font-weight: 700;
  box-shadow: 0px 0px 5px 1px black;
}

.button-list_time {
  padding: 5px;
  background-color: #d9dddc;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
}

.actual-list-time {
  padding: 5px;
  background-color: orange;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}
.button-list-selected {
  background-color: blue;
  color: white;
}

.container-time-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
